/* 全局样式 */
* {padding:0px;margin:0px;}
a {text-decoration:none;
    color: #000;}
ul{list-style:none;}
/* 页头样式 */
.top {height:120px;background-color:#8c2300;}
.top .center {height:120px;width:1000px;margin:0 auto;}
.top .center .logo {width:141px;height:42px;float:left;margin-top:39px;}
.top .center .menu {width:670px;height:40px;float:right;}
.top .center .menu a {
    display:block;
    float:left;
    width:110px;
    height:40px;line-height:40px;
    text-align:center;
    color:#fff;
    margin-top:40px;
    font-family:微软雅黑;
}
.top .center .menu a:hover {
    background: url(../images/menu_bg_h.png) center center no-repeat;
    color:#66973c;
}

/*新闻动态、关于我们、最新产品“形成的横向区域*/
.container{width:1000px;height:310px;margin:0 auto;clear:both;margin:10px auto;}
/*新闻动态*/
.container .news{width:300px;height:310px;float:left;}
.container .news .n_top{height:35px;border-bottom:1px solid #999;}
.container .news .n_top .cat_title{float:left;height:35px;line-height:35px;font-size:15px;font-family:微软雅黑;}
.container .news .n_top .more a{width:50px;text-align:center;background:url(../images/more.png) center center no-repeat;height:35px;line-height:35px;float:right;font-size:12px;color:#000;}
.container .news .n_center{height:100px;padding-top:5px;}
.container .news .n_center img{float:left;margin-right:5px;margin-top:5px;}
.container .news .n_center div{font-size:12px;line-height:20px;}
.container .news .n_bottom{height:155px;margin-top:10px;}
.container .news .n_bottom a{display:block;height:28px;line-height:28px;font-size:13px;color:#333;border-bottom:1px dotted #CCCCCC;}

/*关于我们*/
.container .about{width:380px;height:310px;float:left;margin-left:10px;}
.container .about .a_top{height:35px;border-bottom:1px solid #999;}
.container .about .a_top .cat_title{float:left;height:35px;line-height:35px;font-size:15px;font-family:微软雅黑;}
.container .about .a_center{margin:5px auto;}
.container .about .a_bottom{font-size:13px;line-height:20px;text-indent:2em;margin-top:5px;}

/* 最新产品*/
.container .produce{width:300px;height:310px;float:right;}
.container .produce .p_top{height:35px;border-bottom:1px solid #999;}
.container .produce .p_top .cat_title{float:left;height:35px;line-height:35px;font-size:15px;font-family:微软雅黑;}
.container .produce .p_top .more a{width:50px;text-align:center;background:url(../images/more.png) center center no-repeat;height:35px;line-height:35px;float:right;font-size:12px;color:#000;}
.container .produce .p_bottom{height:270px;margin-top:5px;}

/*图片切换*/
.slideBox{ width:270px; height:270px; overflow:hidden; position:relative;margin-left:15px;}
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
.slideBox .hd ul li.on{ background:#f00; color:#fff; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ width:300px; height:270px; display:block;border:0px;}

/*页尾*/
.footer {height:120px;background:#8C2300;clear:both;}
.footer .center_box{width:1000px;height:120px;margin:0 auto;}
.footer .center_box .text{height:105px;color:#FFF;float:left;line-height:20px;font-size:13px;padding-top:13px;padding-left:120px;}
.footer .center_box .text a{color:#FFF;font-size:13px;}
.footer .center_box .ewm{height:95px;float:right;text-align:center;padding-right:120px;padding-top:25px;}

/*关于我们页面*/
.about_main{width:1000px;min-height:360px;height:auto;margin:0 auto;}
/*slide*/
.about_main .slide{height:360px;width:220px;float:left;border:1px solid #CCC;margin-top:5px;margin-bottom:5px;}
.about_main .slide .cat_title{height:40px;line-height:40px;padding-left:20px;font-size:14px;color:#FFF;font-weight:bold;background-color:#66973c;}
.about_main .slide .qq{height:85px;width:190px;border-bottom:1px dotted #d6d6d6;maigin:0 auto;padding-left:10px;font-size:14px;margin-top:15px;}
.about_main .slide .qq div{height:42px;line-height:42px;maigin:0 auto;}
.about_main .slide .service{height:58px;line-height:24px;width:160px;border-bottom:1px dotted #66973c;margin:0 auto;padding-top:10px;
                            background: url(../images/clock.jpg) 8px center no-repeat;padding-left:40px;}
.about_main .slide .service .title{font-weight:bold;font-size:14px;}
.about_main .slide .service .detail{color:#f63;font-weight:bold;font-family:Arial,Helvetica,sans-serif;font-size:14px;}
.about_main .slide .weixin{height:58px;line-height:24px;width:160px;border-bottom:1px dotted #66973c;margin:0 auto;padding-top:10px;
    background: url(../images/weixin.jpg) 8px center no-repeat;padding-left:40px;}
.about_main .slide .weixin .title{font-weight:bold;font-size:14px;}
.about_main .slide .weixin .detail{color:#000;font-weight:bold;font-family:Arial,Helvetica,sans-serif;font-size:13px;}
.about_main .slide .email{height:58px;line-height:24px;width:160px;border-bottom:1px dotted #d6d6d6;margin:0 auto;padding-top:10px;
    background: url(../images/email.jpg) 8px center no-repeat;padding-left:40px;}
.about_main .slide .email .title{font-weight:bold;font-size:14px;}
.about_main .slide .email .detail{color:#000;font-weight:bold;font-family:Arial,Helvetica,sans-serif;font-size:13px;}
/*right*/
.about_main .right{min-height:360px;height:auto;width:760px;float:right;}
.content{padding:5px;line-height:22px;font-size:13px;text-indent:2em;}
/*业内导航*/
.submenu{height:30px;line-height:30px;width:750px;border-bottom:1px solid #666;padding-left:10px;}
.right .submenu a{font-size:14px;}

