@charset "utf-8";
body{margin:0;padding:0;text-align:center;background:url(../images/loginmain_bg.gif) repeat-x top center #0e85c2;font-size:12px;font-family:arial,helvetica,sans-serif,"宋体";}
img{border:0;}
ul,li{list-style:none;}
a{color:#fff;text-decoration:none;outline:none;}
a:link{color:#fff;text-decoration:none;}
a:visited{color:#fff;text-decoration:none;}
a:hover{color:#fe9715;text-decoration:underline;}
#main{width:960px;margin:0 auto;}
#logo{position:absolute;top:35px;left:180px;width:694px;height:466px;background:url(../images/login_logo.png) no-repeat;}
#wrapper{width:694px;height:466px;top:188px;margin-left:auto;margin-right:auto;background:url(../images/loginmain_bg.gif) no-repeat;position:relative;}
#sys_name{
	position: absolute;
	top: 67px;
	left: 95px;
	font-size: 23px;
	font-family: "微软雅黑";
	height: 150px;
	background: url(../images/login_logo.png) center top no-repeat;
}
#cont{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 96px;
	left: 358px;
}
#cont li{height:35px;line-height:35px;text-align:left;}
#cont li label.lb{float:left;width:50px;padding:0 5px;line-height:35px;text-align:right;}
#cont li input.ip{width:132px;border:#41a1be 1px solid;font-size:12px;background:url(../images/inputstyle.gif) repeat-x;color:#898989;font-family:,"verdana";height:20px;line-height:20px;padding:2px;}
#cont li span{display:block;padding-left:60px;}
#cont span{padding-left:3px;padding-top:6px;}
.entestyle{background:url(../images/login_logo.gif) no-repeat;width:115px;height:36px;}
#copy{margin:0 auto;position:relative;top:345px;color:#fff;}
